html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}

:root {
  --nav-height: 54px;
  --bar-height: 56px;
}

#app-wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

#navbar {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
}

#chat-wrapper {
  height: calc(100vh - var(--nav-height));
  height: calc(var(--vh, 1vh) * 100 - var(--nav-height));
}

#custom-sidebar {
  width: 100%;
  height: calc(100% - var(--nav-height));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

#custom-sidebar.opened {
  transform: translateX(0%);
}

@media (min-width: 768px) {
  #custom-sidebar.opened {
    transform: translateX(100%);
  }
}

#messages {
  position: relative;
  height: calc(100% - var(--bar-height) - 3rem);
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow-y: auto;
}

#message-bar {
  height: var(--bar-height);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 32px;
  height: 32px;
  border-radius: 32px;
}

.custom-modal {
  position: absolute;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
