html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}

:root {
  --nav-height: 54px;
  --bar-height: 56px;
}

#content-wrapper {
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

#navbar {
  height: var(--nav-height);
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1000;
}

#chat-wrapper {
  height: calc(100vh - var(--nav-height));
  height: calc(var(--vh, 1vh) * 100 - var(--nav-height));
}

#custom-sidebar {
  width: 100%;
  height: calc(100% - var(--nav-height));
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

#custom-sidebar.opened {
  transform: translateX(0%);
}

@media (min-width: 768px) {
  #custom-sidebar.opened {
    transform: translateX(100%);
  }
}

#messages {
  height: calc(100% - var(--bar-height));
}

#message-bar {
  height: var(--bar-height);
}
